/* responsive
================================ */
@media only screen and (max-width: 950px) {
    .logo img{
        padding-bottom: 18px;
    }
    .menus {
        display: none;
    }
    .menus1 {
        display: inline-block;
        list-style: none;
        text-align:center;
        padding: 5px;
        border-radius: 10px;
        width: 15%;
        margin-left: 20vw;
    }
    .menus1 .menu1 {
        position: relative; /* Add this to position the dropdown menu */
    }
    .menu1 p{
        color: #05364B;
        font-size: 120%;
        font-weight: 500;
    }
    
    .menu1 ul {
        list-style: none;
        position: absolute;
        left: 0;
        top: 100%;
        display: none;
        padding: 0;
        margin: 0;
        background-color: #fff;
        border-radius: 10px;
    }
    
    .menu1 ul li {
        padding: 10px;
    }
    
    .menu1 ul li a {
        color: #05364B;
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
    }
    
    .menu1 ul li a:hover {
        color: #efb6df;
    }
    
    .menu1:hover p{
        background-color: #fed136;
        padding: 2px;
        border-radius: 3px;
        color: #fff;
    }
    .menu1:hover ul {
        display: block;
    }
}

@media only screen and (max-width: 768px){

    .main-section__text h5 {
        font-size: 1.5rem;
    }
    .main-section__text h1 {
        font-size: 3.5rem;
    }
    .about-info{
        width:80%;
        float: none;
    }
    #resume .timeline-header{
        float:none;
        width: 70%;
    }
    #resume .timeline-content {
        width: 75%;
        padding: 0 75px;
        margin-left: 5%;
    }
    .services-list{
        display: inline-block;
    }
    .services-list .service-i{
        margin-bottom: -2rem;
    }
    .service-content {
        margin-bottom: 3rem;
    }
}
/* /responsive */